@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Pagina inicial";
}

@if (TempData["MessageSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sn close-alert text-center" arial-label="Close">X</button>
        @TempData["MessageSucesso"]
    </div>
}

@if (TempData["MessageErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sn close-alert text-center" arial-label="Close">X</button>
        @TempData["MessageErro"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Funcionarios</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Funcionario" asp-action="Adicionar" role="button">Adicionar novo Funcionario</a>
    </div>
    <table class="table" id="tabela-funcionario">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cargo</th>
                <th scope="col">Salario</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (FuncionarioModel funcionario in Model)
                {
                    <tr>
                        <th scope="row">@funcionario.id</th>
                        <td>@funcionario.Nome</td>
                        <td>@funcionario.Cargo</td>
                        <td>@funcionario.salario</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@funcionario.id" asp-controller="Funcionario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@funcionario.id" asp-controller="Funcionario" asp-action="Apagar">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

